html{
  height: 100%;
  width: 100%;

}
html, body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}